Hi welcome  to the ansible tower 
hi username {{ ansible_env.USER }}
ip address is {{ ansible_default_ipv4.address }}
 hostanme is {{ ansible_hostname}} or {{ ansible_nodename }}
 architure is {{ ansible_architecture }}
 

